VITE_SUPABASE_URL="https://yupeouoeehxgzsyxxxbb.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl1cGVvdW9lZWh4Z3pzeXh4eGJiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAxNDQ3MDEsImV4cCI6MjEwNTcyMDcwMX0.Zdiy9Og1h2blvv8obIzK9WRVsedvftVzBde0P3qTGP8"
